*{margin-top:10;padding:0;box-sizing:border-box;}
body{
font-family:Arial,Helvetica,sans-serif;
background:#0b1320;
color:#fff;
line-height:1.6;
}
.nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
}
.nav ul{list-style:none;display:flex;}
.nav li{margin-left:20px;}
.nav a{color:#fff;text-decoration:none;}
.hero{min-height:100vh;}
.hero-content{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px;
}
.left h1 span{color:#ff6b3d;}
.btn{
padding:12px 20px;
background:#ff6b3d;
color:#fff;
text-decoration:none;
border-radius:6px;
margin-right:10px;
}
.btn.outline{
background:transparent;
border:1px solid #ff6b3d;
}
.circle{
width:260px;
height:260px;
border-radius:50%;
border:5px solid #ff6b3d;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
}
.circle img{
width:100%;
height:100%;
object-fit:fill;
}
.section{
padding:80px 60px;
text-align:center;
}
.section.dark{background:#111a2e;}
.stats{
display:flex;
justify-content:center;
margin-top:30px;
color: #ff6b3d;

}



.contact-box{
  padding:20px;
  background:#111a2e;
  border-radius:12px;
  width:fit-content;
  margin-left: 35%
}

.contact-btn{
  display:inline-block;
  padding:14px 22px;
  background:#28a745;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
  font-weight:600;
  transition:0.3s;
}

.contact-btn:hover{
  transform:translateY(-3px);
  opacity:0.9;
}

.email-box{
  padding:20px;
  background:#111a2e;
  border-radius:12px;
  width:fit-content;
  margin-left: 38%
}

.email-btn{
  display:inline-block;
  padding:14px 22px;
  background:#ff6b3d;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
  font-weight:600;
  transition:0.3s;
}

.email-btn:hover{
  transform:translateY(-3px);
  opacity:0.9;
}

.social-box{
  display:flex;
  gap:15px;
  padding:20px;
  margin-left: 33%;
  background:#111a2e;
  border-radius:12px;
  justify-content:center;
  align-items:center;
  width:fit-content;
  
}

.social-btn{
  padding:12px 18px;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
  font-weight:600;
  transition:0.3s;
  
}

/* Button Colors */
.social-btn.fb{background:#1877f2;}
.social-btn.ig{background:#e1306c;}
.social-btn.th{background:#000;}


/* Hover Effect */
.social-btn:hover{
  transform:translateY(-3px);
  opacity:0.9;
}

.stats div{margin:0 20px;}
footer{
text-align:center;
padding:20px;
background:#111;
}
@media(max-width:768px){
.hero-content{flex-direction:column;text-align:center;}
.nav{flex-direction:column;}
}
